# **Homework Graded Notebook 3 - Zomato Exercise**

**Name:** Alec Johann C. Chua

**Course Code & Section:** DATA100 - S17

**Student ID:** 12234788

**College:** RVRCOB

**Date Accomplished:** September 28, 2024

# Zomato Exercise

Zomato is a restaurant aggregator website. The platform provides information, menus and user-reviews of restaurants as well as food delivery options from partner restaurants in select cities. You have been provided 3 datasets:

- zomato.csv contains restaurant information like average_cost_for_two, cuisines
- location.csv contains location of the restaurants like address, city, locality & etc
- ratings.csv contains aggregate rating for each restaurant

The different files are connected using the `id` columns which can be found in the different files. The id column is a unique identifier to represent a restaurant. You can use this to **merge** the different files.

In [4]:
import pandas as pd
import numpy as np

1. Merge the zomato, location & ratings file into a signle dataframe and store it to the `merged_df` variable **(3pts)**

In [15]:
#retrieving file from directory
zomato = pd.read_csv("zomato.csv")
location = pd.read_csv("location.csv")
ratings = pd.read_csv("ratings.csv")

In [16]:
#merging into single dataframe
merged_df = pd.merge(zomato, location, on="id")
merged_df = pd.merge(merged_df, ratings, on="id")

In [17]:
#datashape sets
assert (6830, 35) == merged_df.shape

#column names
cols = ['id', 'address', 'city', 'city_id', 'country_id', 'latitude',
       'locality', 'locality_verbose', 'longitude', 'zipcode',
       'aggregate_rating', 'rating_color', 'rating_text', 'votes',
       'average_cost_for_two', 'book_url', 'cuisines', 'currency', 'deeplink',
       'events_url', 'featured_image', 'has_online_delivery',
       'has_table_booking', 'include_bogo_offers', 'is_book_form_web_view',
       'is_delivering_now', 'is_table_reservation_supported',
       'is_zomato_book_res', 'menu_url', 'mezzo_provider', 'name',
       'photos_url', 'price_range', 'thumb', 'url']

#checking if columns match
assert sorted(merged_df.columns) == sorted(cols)

2. Create a function that returns the average aggregate rating for each city. Expected returned value is a Series datatype which contains name of city as index and average aggregate rating as value. **(2pts)**

In [21]:
def exercise_2(merged_df):
    # Grouping by city and calculating the mean of aggregate_rating
    mean_ratings = merged_df.groupby("city")["aggregate_rating"].mean()
    
    # Returning the result
    return mean_ratings

In [31]:
#storing the result in res
res_series = exercise_2(merged_df)

#checking if no errors
assert True == np.isclose(3.302075, res_series[res_series.index == 'Pasay City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]
assert True == np.isclose(1.890741, res_series[res_series.index == 'Valenzuela City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]
assert True == np.isclose(1.558333, res_series[res_series.index == 'Malabon City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]

#display
print(res_series)

city
Caloocan City       1.953509
Las Piñas City      2.855738
Makati City         3.250512
Malabon City        1.558333
Mandaluyong City    2.951919
Manila              2.842652
Marikina City       2.672512
Muntinlupa City     2.962682
Parañaque City      3.130100
Pasay City          3.302075
Pasig City          2.916086
Pateros City        1.740000
Quezon City         2.887946
San Juan City       3.098462
Tagaytay City       2.959259
Taguig City         3.234105
Valenzuela City     1.890741
Name: aggregate_rating, dtype: float64

3. Using the apply function of pandas convert the rating_text to a numeric equivalent. You are to introduce a new column in merged_df called `rating_numeric` which is based on the value from rating_text: **(3pts)**

Excellent = 5 <br>
Very Good = 4 <br>
Good = 3 <br>
Average = 2 <br>
Poor = 1 <br>
Not rated = 0 <br>

In [36]:
#assigning ratings' numerical values
rating_legend = {
    "Excellent": 5,
    "Very Good": 4,
    "Good": 3,
    "Average": 2,
    "Poor": 1,
    "Not rated": 0 }

#assigning numerics to the texts
merged_df["rating_numeric"] = merged_df["rating_text"].map(rating_legend)

In [37]:
assert 868 == merged_df[merged_df.rating_numeric == 0].shape[0]
assert True == ('rating_numeric' in merged_df.columns)

4. Create a function which filters the merged dataframe to only contain rows coming in from a specific city. Expected returned value is a dataframe **(2pts)**

In [40]:
def exercise_4(merged_df, city):
    return merged_df[merged_df["city"] == city]

In [41]:

assert 'Makati City' == exercise_4(merged_df, 'Makati City').city.unique()[0]
assert (976, 36) == exercise_4(merged_df, 'Makati City').shape

assert 'Mandaluyong City' == exercise_4(merged_df, 'Mandaluyong City').city.unique()[0]
assert (443, 36) == exercise_4(merged_df, 'Mandaluyong City').shape

assert (0, 36) == exercise_4(merged_df, 'Quezon  City').shape

5. Create a function to filter the dataframe to only contain certain columns passed in the function. Expected returned value is a dataframe **(1pt)**

In [42]:
def exercise_5(merged_df, cols_to_filter):
    #only specific columns
    return merged_df[cols_to_filter]

In [43]:
cols = ['name', 'cuisines', 'city', 'aggregate_rating']
assert sorted(cols) == sorted(exercise_5(merged_df, cols).columns)
assert (6830, 4) == exercise_5(merged_df, cols).shape

cols = ['average_cost_for_two', 'book_url', 'cuisines', 'currency', 'deeplink',
       'events_url', 'featured_image', 'has_online_delivery',
       'has_table_booking', 'include_bogo_offers', 'is_book_form_web_view']
assert sorted(cols) == sorted(exercise_5(merged_df, cols).columns)
assert (6830, 11) == exercise_5(merged_df, cols).shape

6.  What is the most common restaurant name in the dataset? **(2pts)** Write down your answer and show code used to come up with the answer.

**Starbucks** is the most common name in the dataset.

In [51]:
#most common restaurant name
mode_name = merged_df["name"].mode()[0]

#outputting the result
print(f"The most common restaurant name in the list is: {mode_name}")

The most common restaurant name in the list is: Starbucks

7. Which restaurant has the most expensive average cost for two? **(2pts)** Write down your answer and show code used to come up with the answer.

**The Tasting Room** has the most expensive average cost for two.

In [63]:
#finding most expensive for two
most_expensive_for_two = merged_df.loc[merged_df["average_cost_for_two"].idxmax()]["name"]

#output the result
print(f"The restaurant with the most expensive average cost for two is: {most_expensive_for_two}")

The restaurant with the most expensive average cost for two is: The Tasting Room

8. How many restaurants do not have a zipcode? **(1pt)** Write down your answer and show code used to come up with the answer.

**6713** restaurants do not have a zipcode.

In [64]:
#counting which ones have no zipcodes
nullzip_count = merged_df["zipcode"].isnull().sum()

#output the result
print(f"{nullzip_count} restaurants in this list have no zipcodes attached")

6713 restaurants in this list have no zipcodes attached

9. How many restaurants in the dataset allow online delivery? **(1pt)** Write down your answer and show code used to come up with the answer.

**0** restaurants in the dataset allow online delivery.

In [65]:
#count
online_delivery_allowed = merged_df[merged_df["has_online_delivery"] == 1].shape[0]

#output
print(f"{online_delivery_allowed} restaurants in this dataset allow for online deliveries")

0 restaurants in this dataset allow for online deliveries

10. Which locatlity has more expensive food? Poblacion or Salcedo Village? **(3pts)** Write down your answer and show code used to come up with the answer.

On average, **Salcedo Village** has more expensive food than Poblacion.

In [70]:
#retrieve price data for both
mean_cost_poblacion = merged_df[merged_df["locality"] == "Poblacion"]["average_cost_for_two"].mean()
mean_cost_salcedo_village = merged_df[merged_df["locality"] == "Salcedo Village"]["average_cost_for_two"].mean()

#compare and display
if mean_cost_poblacion > mean_cost_salcedo_village:
    print(f"On average, Poblacion has more expensive food at an average price of P{mean_cost_poblacion}, to Salcedo Village at an average price of P{mean_cost_salcedo_village}.")
else:
    print(f"On average, Salcedo Village has more expensive food at an average price of P{mean_cost_salcedo_village}, to Poblacion at an average price of P{mean_cost_poblacion}.")

On average, Salcedo Village has more expensive food at an average price of P989.1025641025641, to Poblacion at an average price of P898.2142857142857.